header{
  height: 40px;
  margin: 0px;
  background:green;
  color: white;
  padding: 5px 10px;
  space:20px;
  word-spacing: 3px;
  margin-top: 5px;
}
body{
  margin: 0px;
}
@media screen and (max-width:450px) {
  header{
    background-color: blue;
  }
}
